@import 'colours.scss';
@import 'typography.scss';

.container {
    display: grid;
    place-items: center;
}

.card {
    height: 250px;
    width: 600px;
    position: absolute;
    top: 50px;
    left: 50px;
    padding: 40px;
    .bio {
        width: 450px;
        background-color: rgba($brand-dark-grey, 0.9);
        padding: 25px;
        box-shadow: 0 8px 16px 0 $brand-dark-grey;
        margin-top: 20px;
    }
    div {
        color: white;
    }
    .divider {
        border-top: 5px solid $brand-slate-grey;
        width: 250px;
        margin-bottom: 10px;
    }
    .highlight {
        font-weight: bolder;
        font-size: larger;
        color: $brand-slate-grey;
    }
    .underline {
        border-top: 1px solid $brand-slate-grey;
        width: 250px;
        margin-top: 20px;
    }
    .summary {
        margin-top: 20px;
        line-height: 1.75rem;
        font-size: 18px;
    }
}

.largeIcon {
    font-size: 84px;
    color: $brand-slate-grey;
}

.recentWorkSection {
    display: grid;
    height: 75vh;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
