@import 'colours.scss';
@import 'typography.scss';
@import 'images.scss';

.card {
    height: 250px;
    position: absolute;
    top: 50px;
    left: 50px;
    padding: 40px;
    .bio {
        width: 450px;
        background-color: rgba($brand-dark-grey, 0.9);
        padding: 25px;
        box-shadow: 0 8px 16px 0 $brand-dark-grey;
        margin-top: 20px;
    }
    .divider {
        border-top: 5px solid $brand-slate-grey;
        width: 250px;
        margin-bottom: 20px;
    }
}
@media screen and (max-width: 600px) {
    .mobile {
        display: none;
    }
}

.largeIcon {
    font-size: 84px;
    color: $brand-slate-grey;
}

.recentWorkSection {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
