@import 'colours.scss';
@import 'typography.scss';

@mixin container($color, $dividerColor) {
    padding: 40px;

    @media screen and (min-width: 1281px) {
        padding: 100px;
    }

    background: $color;

    color: $dividerColor;

    .divider {
        border-top: 5px solid $dividerColor;
        width: 250px;
        margin-bottom: 20px;
    }
    .largeIcon {
        font-size: 24px;
        color: $dividerColor;
        position: relative;
        top: 8px;
        margin-right: 5px;
    }
    ul {
        list-style: none;
        padding: 0;
    }
}

.one {
    @include container($brand-dark-grey, $brand-orange);
}

.two {
    @include container($brand-orange, $brand-dark-grey);
}
.three {
    @include container($brand-slate-grey, $brand-cream);
}

.four {
    @include container($brand-cream, $brand-slate-grey);
}

.five {
    @include container($brand-steelblue, $brand-darkslategrey);
}

.six {
    @include container($brand-darkslategrey, $brand-steelblue);
}
