@import 'colours.scss';
@import 'typography.scss';

@mixin container($color, $dividerColor) {
    padding: 100px;
    background: $color;
    color: $dividerColor;
    .divider {
        border-top: 5px solid $dividerColor;
        width: 250px;
        margin-bottom: 20px;
    }
    .largeIcon {
        font-size: 24px;
        color: $dividerColor;
        position: relative;
        top: 8px;
        margin-right: 5px;
    }
    ul {
        list-style: none;
        padding: 0;
    }
}

.one {
    @include container($brand-dark-grey, $brand-slate-grey);
}

.two {
    @include container($brand-slate-grey, $brand-dark-grey);
}
.three {
    @include container($brand-orange, $brand-yellow);
}

.four {
    @include container($brand-yellow, $brand-orange);
}
