$bg-color-dark: #0b0c10;
$brand-cream: #fffdd0;
$brand-orange: #e76f51;
$brand-dark-grey: #1f2833;
$brand-slate-grey: #45a29e;
$brand-lightgrey: #d3d3d3;
$brand-steelblue: #5784ba;
$brand-powderblue: #ddf2f4;
