.headline1 {
    font-size: 95px;
}
.headline2 {
    font-size: 59px;
}
.headline3 {
    font-size: 48px;
}
.headline4 {
    font-size: 34px;
}
.headline5 {
    font-size: 24px;
}
.headline6 {
    font-size: 20px;
}
.body1 {
    font-size: 16px;
}
.body2 {
    font-size: 14px;
}
.body3 {
    font-size: 12px;
}
.subtitle1 {
    font-size: 16px;
}
.subtitle2 {
    font-size: 14px;
}
.overline {
    font-size: 10px;
}
.caption {
    font-size: 10px;
}
